@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.app{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "Cambay", sans-serif;
}

.resume-edit{
    width: 100%;
    height: 100vh;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid red;
}

.resume-edit h1{
    font-size: 3rem;
    margin: 20px 0px;
}

.resume-display{
    width: 80rem;
    height: 100vh;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid blue;
}
input{
    width: 100%;
    padding: 12px 14px;
    border-radius: 7px;
    border: 1px rgb(134, 134, 134) solid;
}

button{
    margin: 10px 2px;
    padding: 14px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}